<ons-page  ng-controller="HomeController as ctrl" ons-init="ctrl.init($event)">
    <ons-toolbar>
    <div class="left"><ons-toolbar-button ng-click="ctrl.gotoTop()">ログアウト</ons-toolbar-button></div>
    <div class="center">マイページ</div>
    <div class="right">
        <ons-toolbar-button ng-click="ctrl.gotoSetting()">設定</ons-toolbar-button>
    </div>
</ons-toolbar>
  
    

    
    <div class="bg">
      <div class="box">
        <!-- 名前・紹介・アイコンはこちらで指定する　<img id="profile_image_js" class="profile_image" src="{{ctrl.data.UserImage}}" alt="プロフィール画像" width="120" height="120" border="0" />
         　　　<p id="name_js" class="name">{{ctrl.data.UserName}}</p>
              　<p id="introduction_js" class="introduction">{{ctrl.data.MoodMessage}}</p>
       -->
       
       <img id="profile_image_js" class="profile_image" src="images/gotiusa.png" alt="プロフィール画像" width="100" height="100" border="0" />
       <p id="name_js" class="name">二次元愛者</p>
       <p id="introduction_js" class="introduction">二次元を愛する者</p>
      </div>
    </div>

    <p class="my_contribution_points">My Contribution Points</p>
    
    <div class="point_box">
        <span id="points_js" class="points_size">{{ctrl.data.MyPoint}}</span>
        <span class="cp_size">CP</span>        
    </div>
    

    
    <div class="point_bottom_underbar"></div>
    
    <div class="box_left">ポイント増減</div>
    <div class="box_right">日付</div>
    
    
    <div class="box_list">
     <ons-list>  
        <ons-list-item ng-repeat="point in ctrl.points">
                <div class="center" style="padding: 2px 4px 2px 0; min-height: 5px;">{{point.Point}}</div>
                <div class="right" style="padding: 2px 4px 2px 0; min-height: 5px;">{{point.Time | date: 'yyyy-MM-dd HH:mm'}}</div>
        </ons-list-item>
     </ons-list>
    </div>
    
    
    
</ons-page>
