<ons-page  ng-controller="TopController as ctrl" ons-init="ctrl.init($event)">
   
 
    <div class="top_page">
      <div class="menu">
         <p class="title_moji">　</p>
         <ons-button class="new_parson" ng-click="ctrl.gotoLogin()">初めての方</p></ons-button>
         <p class="contribution_points">Contribution Points</p>
        <p class="contribution_points_intro">ポイントを使った新たなコミュニケーション</p>
        <ons-button class="top_login_button" ng-click="ctrl.gotoLogin()">ログイン</ons-button>
        <ons-button><a href="https://limitless-atoll-79397.herokuapp.com/">ツイッターログイン</ons-button>
      </div>
      
    </div>
    
    
        
     

    

</ons-page>